:root {
    --primary-dark: #11151C;
    --primary-light: #FFFFFC;
    --primary-light-2: #F3F3F4;
    --accent-primary: #F75C03;
    --accent-dark: #433A3F;

    --money-positive: #4DAA57;
    --money-negative: #C20114;
    --money-neutral: #596475;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-light);
    color: var(--primary-dark);
}

h1 {
    margin: 0.5rem 0;
}

.eyebrow {
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-size: 0.75rem;
    margin: 0;
    color: var(--accent-dark);
}
